
$primary: #c75566;
$secondary: #ffebea;
$light: #ececec;

@import "node_modules/mdb-ui-kit/src/scss/mdb.free.scss";

h1 {
  color: $primary !important;
}

.btn-primary {
  box-shadow: none !important;
}

.bg-caption {
  background-color: #ff95a5d2;
  border-radius: 5px;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
}

.btn-floating {
  position: fixed;
  bottom: 20px;
  right: 15px;
}