---
import { ArrowBigLeft } from "@lucide/astro";
import RootLayout from "../RootLayout.astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<RootLayout>
  <div>
    <a href="/" class="btn btn-sm"><ArrowBigLeft class="h-4 w-4" /> Home</a>
  </div>
  <div class="prose py-6">
    <Content />
    <a href="/" class="btn btn-sm"><ArrowBigLeft class="h-4 w-4" /> Home</a>
  </div>
</RootLayout>
