---
import RootLayout from "./RootLayout.astro";
const { note, sections } = Astro.props;
---

<RootLayout>
  <div class="flex flex-col md:flex-row gap-6">
    <article class="prose flex-1">
      <slot />
    </article>
    <aside class="w-full md:w-64 shrink-0">
      <h5>On this page</h5>
      {sections?.map((sec) => <a href={`#${sec}`}>{sec}</a>)}
    </aside>
  </div>
</RootLayout>
