---
import "../styles/global.css";
---

<html data-theme="retro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="/htmx.min.js" is:inline></script></head
  >

  <body>
    <div class="w-full p-4">
      <slot />
    </div>
  </body>
</html>
